@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;300;500;700&display=swap');

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Kanit', sans-serif;
  background-color: hsla(0,0%,100%,.5);
  backdrop-filter: blur(20px);
  height: 75px;
  position: fixed;
  width: 100%;
  justify-content: space-evenly;
  z-index: 2;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

.header > .logo {
  font-size: 32px;
  font-weight: 700;
} 

.logo > .first-word {
    font-weight: 200;
    color: #424242;
}


.logo > .second-word {
    color: #4056ff;
    font-weight: 400;
}



.page-name> a {
  text-decoration: none;
  margin: 0px 10px;
  color: #424242;
}

.link-active {
  color: #424242;
  /* border-bottom: 5px solid #4056ff; */
  border-bottom: 5px solid #f4d150;
}

@media only screen and (max-width: 500px) {
    .header {
        flex-direction: column;
        justify-content: center;
        height: 95px;
      }

      .header > .logo {
        font-size: 24px;
      } 

      .blog-container{
          width: 80%;
      }
  }